PORT=5080
DEEPGRAM_API_KEY=replaceMe
OPENAI_API_KEY=replaceMe
INTERNAL_API_BASE_URL=replaceMe
INTERNAL_API_USERNAME=replaceMe
INTERNAL_API_PASSWORD=replaceMe
ENV=dev
REDIS_URL=redis://redis
# Echo cancellation settings
ECHO_HISTORY_MS=500
ECHO_THRESHOLD=0.8
RTP_START_PORT=30000
RTP_END_PORT=30010
# Network settings
BIND_IP=replaceMe_if_needed
ADVERTISE_IP=replaceMe_if_needed
DEV_IP=your-dev-computer-lan-ip # only needed when testing voice bot independently
